[DEFAULT]
enabled_apis = osapi_compute,metadata
transport_url = rabbit://openstack:{{ nova_conf.rabbitmq_password }}@{{ nova_conf.rabbitmq_hostname }}:5672/

[api]
auth_strategy = keystone

[api_database]
connection = mysql+pymysql://nova:{{ nova_conf.nova_db_user_password }}@{{ nova_conf.mysql_hostname }}/nova_api

[barbican]
[barbican_service_user]
[cache]
[cinder]
[compute]
[conductor]
[console]
[consoleauth]
[cors]
[cyborg]
[database]
connection = mysql+pymysql://nova:{{ nova_conf.nova_db_user_password }}@{{ nova_conf.mysql_hostname }}/nova

[devices]
[ephemeral_storage_encryption]
[filter_scheduler]
[glance]
api_servers = http://{{ nova_conf.glance_hostname }}:9292

[guestfs]
[healthcheck]
[image_cache]
[ironic]
[key_manager]
[keystone]
[keystone_authtoken]
www_authenticate_uri = http://{{ nova_conf.keystone_hostname }}:5000/
auth_url = http://{{ nova_conf.keystone_hostname }}:5000/
memcached_servers = {{ nova_conf.keystone_hostname }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = nova
password = {{ nova_conf.nova_openstack_service_password }}

[libvirt]
[metrics]
[mks]
[neutron]
[notifications]
[os_vif_linux_bridge]
[os_vif_ovs]
[oslo_concurrency]
lock_path = /var/lib/nova/tmp

[oslo_limit]
[oslo_messaging_amqp]
[oslo_messaging_kafka]
[oslo_messaging_notifications]
[oslo_messaging_rabbit]
[oslo_middleware]
[oslo_policy]
[oslo_reports]
[oslo_versionedobjects]
[pci]
[placement]
region_name = RegionOne
project_domain_name = Default
project_name = service
auth_type = password
user_domain_name = Default
auth_url = http://{{ nova_conf.placement_hostname }}:5000/v3
username = placement
password = {{ nova_conf.placement_openstack_service_password }}

[privsep]
[profiler]
[profiler_jaeger]
[profiler_otlp]
[quota]
[remote_debug]
[scheduler]
[serial_console]
[service_user]
send_service_user_token = true
auth_url = http://{{ nova_conf.keystone_hostname }}/identity
auth_strategy = keystone
auth_type = password
project_domain_name = Default
project_name = service
user_domain_name = Default
username = nova
password = {{ nova_conf.nova_openstack_service_password }}

[spice]
[upgrade_levels]
[vault]
[vendordata_dynamic_auth]
[vmware]
[vnc]
enabled = true
server_listen = $my_ip
server_proxyclient_address = $my_ip

[workarounds]
[wsgi]
[zvm]
