export OS_USERNAME={{ openrc_complate.OS_USERNAME }}
export OS_PASSWORD={{ openrc_complate.OS_PASSWORD }}
export OS_PROJECT_NAME={{ openrc_complate.OS_PROJECT_NAME }}
export OS_USER_DOMAIN_NAME={{ openrc_complate.OS_USER_DOMAIN_NAME }}
export OS_PROJECT_DOMAIN_NAME={{ openrc_complate.OS_PROJECT_DOMAIN_NAME }}
export OS_AUTH_URL={{ openrc_complate.OS_AUTH_URL }}
export OS_IDENTITY_API_VERSION={{ openrc_complate.OS_IDENTITY_API_VERSION }}
